body{
    background-image: linear-gradient(to right, #E5E7E9, #E5E7E9, #E5E7E9);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#imageDisplay { 
    display : none;
}

#originPt { 
    display : none;
}
#originJa { 
    display : none;
}
#originEn { 
    display : block;
}
#originEs { 
    display : none;
}

#targetPt { 
    display : none;
}
#targetJa { 
    display : none;
}
#targetEn { 
    display : none;
}
#targetEs { 
    display : none;
}

#load { 
    display : none;
}

#result_page { 
    display : none;
}
#page_home { 
    display : block;
}